# Pipeline programs
code-extraction/cpg/
code-extraction/dg/
code-extraction/joern/
code-extraction/llvm2cpg/

# Example
code-extraction/example/
!code-extraction/example/main.c
!code-extraction/example/add_one.c
!code-extraction/example/Makefile

# Pipeline
code-extraction/testing/

# D2A
dataset/d2a/
dataset/d2a-filtered/
dataset/testing/
dataset/projects/
dataset/slicing-info/

# Default output dir
D2A-CPG/
